.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    width: 250px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input {
    padding: 6px 10px;
    border: none;
    box-shadow: 0 0 2px 1px rgb(163, 163, 163);
    border-radius: 5px;
    outline: none;
}

.input:focus {
    box-shadow: 0 0 2px 1px rgb(139, 139, 139);
}

.button {
    padding: 8px 8px;
    background-color: rgb(86, 111, 255);
    font-size: medium;
    font-weight: 600;
    border: none;
    color: rgb(241, 241, 241);
    border-radius: 10px;
}